.app {
  & .app__player {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--color-grey-100);
    padding: 1rem;

    & > video {
      display: block;
      width: min(100%, 768px);
      aspect-ratio: 16 / 9;
      margin: 0 auto;
    }
  }

  & .app__media-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 0.75rem;

    & .app__media {
      &--selected {
        border: 2px solid var(--color-primary-main);
        background-color: color-mix(in srgb, var(--color-primary-main), var(--color-grey-200) 60%);
      }
    }
    
    @media screen and (min-width: 552px) {
      margin: 0 0.75rem;
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
