.app {
  background-color: var(--color-grey-100);

  & .app__media-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 0.75rem;

    & .app__media {
      &--selected {
        border: 2px solid var(--color-primary-main);
        background-color: color-mix(
          in srgb,
          var(--color-primary-main),
          var(--color-grey-200) 60%
        );
      }
    }

    @media screen and (min-width: 552px) {
      margin: 0 0.75rem;
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
    }
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;

    & .app__player {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: sticky;
      top: 0;
      width: calc(65vw - 1.5rem);
      height: calc(100vh - 0.75rem);
    }

    & .app__media-grid {
      width: 370px;
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
